# EXERCISE 1.5

In [1]:
print("\ta\tb\tc")

	a	b	c

In [2]:
print("\\\\")

\\

In [3]:
print("'")

'

In [4]:
print("\"\"\"")

"""

In [5]:
print("C:\nin\the downward spiral")

C:
in	he downward spiral

In [31]:
print('/ \\ // \\\\ /// \\\\\\')

/ \ // \\ /// \\\

In [35]:
print('''This quote is from Irish poet Oscar Wilde:
      "Music makes one feel so romantic
     - at least it always gets on one's nerves – 
     which is the same thing nowadays."''')

This quote is from Irish poet Oscar Wilde:
      "Music makes one feel so romantic
     - at least it always gets on one's nerves –
     which is the same thing nowadays."

In [36]:
print('''A "quoted" String is 'much' better if you learn

the rules of "escape sequences." Also, "" represents an empty String. Don't forget: use \" instead of " ! '' is not the same as''')

A "quoted" String is 'much' better if you learn

the rules of "escape sequences." Also, "" represents an empty String. Don't forget: use " instead of " ! '' is not the same as

In [40]:
print(9 / 5)

1.8

In [42]:
print(695 % 20)

15

In [43]:
print(7 + 6 * 5)

37

In [44]:
print(7 * 6 + 5)

47

In [45]:
print(248 % 100 / 5)

9.6

In [46]:
print(6 * 3 - 9 / 4)

15.75

In [47]:
print((5 - 7) * 4)

-8

In [48]:
print(6 + (18 % (17 - 12)))

9

# EXERCISE 3.4

In [49]:
def find_maximum(lst):
    # Assuming the list contains at least one element
    max_value = lst[0] 
    # Start max_value with the first element

    # Go through the list to find the maximum value
    for num in lst:
        if num > max_value:
            max_value = num

    return max_value

# Given list
user_list = [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]

# Find the maximum value
maximum_value = find_maximum(user_list)

# Display the result
print("The maximum value in the list is:", maximum_value)

The maximum value in the list is: 23

In [1]:
# Given list
user_list = [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]

# Find the maximum value using the max function
maximum_value = max(user_list)

# Display the result
print("The maximum value in the list is:", maximum_value)

The maximum value in the list is: 23

In [4]:
# Given list
user_list = [4, 7, 1, 5, 11, 53, 12, 46, 84, 23]

# Calculate the average
average_value = sum(user_list) / len(user_list)

# Display the result
print("The average value of the list is:", average_value)

The average value of the list is: 24.6

In [5]:
# Given list
user_list = [2, 6, 7, 45, 23, 53, 14, 45, 89, 5]

#Prints user_list in reverse order
reverse_value = (user_list) 
# Display the result
print("The reverse order of the list is:",reverse_value)

The reverse order of the list is: [2, 6, 7, 45, 23, 53, 14, 45, 89, 5]

In [6]:
# Given list
user_list = [2, 6, 7, 45, 23, 53, 14, 45, 89, 5]

# Reverse the list
reverse_value = user_list[::-1]

# Display the result
print("The reverse order of the list is:", reverse_value)

The reverse order of the list is: [5, 89, 45, 14, 53, 23, 45, 7, 6, 2]

In [9]:
def compare_lists(list1, list2):
    # Check if the lists are of the same length
    if len(list1) != len(list2):
        return False

    # Compare each element in the first list with the corresponding element in the second list
    for i in range(len(list1)):
        if list1[i] >= list2[i]:
            return False

    # If all elements pass the comparison, return True
    return True

# Example usage:
list1 = [3, 6, 2, 4, 23, 53, 14, 35, 79, 5]
list2 = [4, 8, 9, 6, 24, 54, 15, 56, 90, 6]

result = compare_lists(list1, list2)

# Display the result
print(result)

True

In [10]:
def swap_elements(my_list, index1, index2):
    # Check if the indexes are within the range of the list
    if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
        # Swap the elements at the specified indexes
        my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
        return True  # Swap successful
    else:
        return False  # Index out of range

# Example usage:
my_list = [3, 6, 2, 4, 23, 53, 14, 35, 79, 5]
print("Original list:", my_list)

# Swap elements at indexes 2 and 7
index1 = 2
index2 = 7
success = swap_elements(my_list, index1, index2)

if success:
    print(f"List after swapping elements at indexes {index1} and {index2}:", my_list)
else:
    print("Invalid indexes. No swap performed.")

Original list: [3, 6, 2, 4, 23, 53, 14, 35, 79, 5]
List after swapping elements at indexes 2 and 7: [3, 6, 35, 4, 23, 53, 14, 2, 79, 5]

In [11]:
# Given lists
list1 = [3, 6, 2, 4, 23, 53, 14, 35, 79, 5]
list2 = [4, 8, 9, 6, 24, 54, 15, 56, 90, 6]

# Concatenate the two lists
new_list = list1 + list2

# Display the result
print("The new list containing all elements of the first list followed by all elements of the second.:", new_list)

The new list containing all elements of the first list followed by all elements of the second.: [3, 6, 2, 4, 23, 53, 14, 35, 79, 5, 4, 8, 9, 6, 24, 54, 15, 56, 90, 6]

In [13]:
def find_last_index(my_list, value):
    # Check if the value is present in the list
    if value in my_list:
        # Find the last index of the value in the list
        last_index = len(my_list) - 1 - my_list[::-1].index(value)
        return last_index
    else:
        return -1  # Value not found

# Example usage:
my_list = [3, 6, 2, 4, 23, 53, 14, 35, 79, 5]
value_to_find = 79

result = find_last_index(my_list, value_to_find)

# Display the result
print(f"The last index of {value_to_find} in the list is:", result)

The last index of 79 in the list is: 8

In [14]:
def calculate_range(my_list):
    # Find the minimum and maximum values in the list
    min_value = min(my_list)
    max_value = max(my_list)

    # Calculate the range
    my_range = max_value - min_value + 1

    return my_range

# Example usage:
my_list = [36, 12, 25, 19, 46, 31, 22]

# Calculate and display the range
result_range = calculate_range(my_list)
print("The range of values in the list is:", result_range)

The range of values in the list is: 35

In [15]:
def count_elements_in_range(my_list, min_value, max_value):
    # Initialize a counter for elements within the range
    count = 0

    # Go through the list and count elements within the range
    for num in my_list:
        if min_value <= num <= max_value:
            count += 1

    return count

# Example usage:
my_list = [14, 1, 22, 17, 36, 7, -43, 5]
min_value = 4
max_value = 17

# Calculate and display the count of elements within the range
result_count = count_elements_in_range(my_list, min_value, max_value)
print(f"The count of elements between {min_value} and {max_value} (inclusive) is:", result_count)

The count of elements between 4 and 17 (inclusive) is: 4

In [16]:
def is_sorted(my_list):
    # Iterate through the list starting from the second element
    for i in range(1, len(my_list)):
        # Check if the current element is less than the previous one
        if my_list[i] < my_list[i - 1]:
            return False  # If true, the list is not sorted

    return True  # If the loop completes without returning False, the list is sorted

# Example usage:
list1 = [16.1, 12.3, 22.2, 14.4]
list2 = [1.5, 4.3, 7.0, 19.5, 25.1, 46.2]

# Check if list1 is sorted
result_list1 = is_sorted(list1)
print(f"Is list1 sorted? {result_list1}")

# Check if list2 is sorted
result_list2 = is_sorted(list2)
print(f"Is list2 sorted? {result_list2}")

Is list1 sorted? False
Is list2 sorted? True

# Exercise 4.5

In [21]:
# Task 1
for i in range(1):
    print("+ - - - - +")
    print("\\         /")
    print("/         \\")
    print("\\         /")
    print("/         \\")
    print("\\         /")
    print("/         \\")
print("+ - - - - +")

+ - - - - +
\         /
/         \
\         /
/         \
\         /
/         \
+ - - - - +

In [22]:
# Task 2
for i in range(5):
    print("**********")

**********
**********
**********
**********
**********

In [23]:
# Task 3
# a)
for i in range(1, 7):
    print(i)

# b)
for i in range(1, 7):
    print(i * 2)

# c)
for i in range(1, 7):
    print(i * 15 - 11)

# d)
for i in range(5, -1, -1):
    print(i * 10)

# e)
for i in range(-7, 14, 4):
    print(i)

# f)
for i in range(97, 81, -3):
    print(i)

# g)
for i in range(-4, 91, 18):
    print(i)

1
2
3
4
5
6
2
4
6
8
10
12
4
19
34
49
64
79
50
40
30
20
10
0
-7
-3
1
5
9
13
97
94
91
88
85
82
-4
14
32
50
68
86

In [24]:
# Task 4
lines = 7
for i in range(1, lines + 1):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777

In [25]:
# Task 5
def pay(salary, hours_worked):
    if hours_worked > 8:
        overtime_hours = hours_worked - 8
        return (8 * salary) + (1.01 * salary * overtime_hours)
    else:
        return salary * hours_worked

# Example usage:
result_pay = pay(5.50, 6)
print(result_pay)  # Output: 33.0

33.0

In [26]:
# Task 6
import math

def area(radius):
    return math.pi * radius**2

# Example usage:
result_area = area(2.0)
print(result_area)  # Output: 12.566370614359172

12.566370614359172

In [30]:
# Task 7
low = int(input("Low? "))
high = int(input("High? "))
total_sum = 0
for i in range(low, high):
    total_sum += i

print("Sum:", total_sum)

Low? 100
High? 400
Sum: 74850

In [31]:
# Task 8
total_sum = 0
while True:
    number = int(input("Enter a number (type 0 to stop): "))
    if number == 0:
        break
    total_sum += number

print("Sum:", total_sum)

Enter a number (type 0 to stop): 67
Enter a number (type 0 to stop): 7765
Enter a number (type 0 to stop): 2356
Enter a number (type 0 to stop): 43
Enter a number (type 0 to stop): 76
Enter a number (type 0 to stop): 0
Sum: 10307

In [32]:
# Task 9
total_sum = 0
while True:
    number = int(input("Enter a number (type -1 to stop): "))
    if number == -1:
        break
    total_sum += number

print("Sum:", total_sum)

Enter a number (type -1 to stop): 45
Enter a number (type -1 to stop): 65
Enter a number (type -1 to stop): 654
Enter a number (type -1 to stop): 9875
Enter a number (type -1 to stop): -1
Sum: 10639

In [33]:
# Task 10
def repl(text, repetitions):
    if repetitions <= 0:
        return ""
    else:
        return text * repetitions

# Example usage:
result_repl = repl("hello", 3)
print(result_repl)  # Output: "hello hello hello"

hellohellohello

In [34]:
# Task 11
def primRange(start, end):
    if start < end:
        for i in range(start, end + 1):
            print(i, end=" ")
    elif start > end:
        for i in range(start, end - 1, -1):
            print(i, end=" ")
    else:
        print(start)

# Example usage:
primRange(2, 7)   # Output: 2 3 4 5 6 7
primRange(19, 11)  # Output: 19 18 17 16 15 14 13 12 11
primRange(5, 5)    # Output: 5

2 3 4 5 6 7 19 18 17 16 15 14 13 12 11 5

In [35]:
# Task 12
def smallestLargest():
    num_numbers = int(input("How many numbers do you want to enter? "))
    numbers = [int(input(f"Number {i + 1}: ")) for i in range(num_numbers)]

    smallest = min(numbers)
    largest = max(numbers)

    print(f"Smallest={smallest}")
    print(f"Largest={largest}")

# Example usage:
smallestLargest()

How many numbers do you want to enter? 7
Number 1: 12
Number 2: 12
Number 3: 34
Number 4: 56
Number 5: 78
Number 6: 90
Number 7: 44
Smallest=12
Largest=90

In [36]:
# Task 13
def printAverage():
    total_sum = 0
    count = 0

    while True:
        number = int(input("Type a number: "))
        if number < 0:
            break
        total_sum += number
        count += 1

    if count > 0:
        average = total_sum / count
        print(f"Average was {average}")

# Example usage:
printAverage()

Type a number: 56
Type a number: 21
Type a number: 76
Type a number: 1
Type a number: 98
Type a number: 87
Type a number: 456
Type a number: 321
Type a number: -3
Average was 139.5

In [37]:
# Task 14
def numUnique(a, b, c):
    unique_numbers = len(set([a, b, c]))
    return unique_numbers

# Example usage:
result_numUnique = numUnique(18, 3, 4)
print(result_numUnique)  # Output: 3

result_numUnique = numUnique(6, 7, 6)
print(result_numUnique)  # Output: 2

3
2

In [38]:
# Task 15
import random

def dice_simulation():
    tries = 0

    while True:
        dice1 = random.randint(1, 6)
        dice2 = random.randint(1, 6)
        combined_result = dice1 + dice2

        print(f"{dice1}+{dice2}={combined_result}")

        if combined_result == 7:
            print(f"You won after {tries + 1} tries!")
            break

        tries += 1

# Example usage:
dice_simulation()

2+4=6
2+3=5
4+5=9
1+5=6
5+2=7
You won after 5 tries!